In [1]:
import pandas as pd
import random
from pathlib import Path
import numpy as np
import psycopg2
from datetime import date, timedelta

# Данные

## Подготовка данных для таблицы book

In [106]:
import time

start = time.perf_counter()
directory = Path("input/book")
book = pd.concat([pd.read_csv(f).drop(
    ['RatingDist1', 'RatingDist4', 'RatingDistTotal', 'RatingDist2', 'RatingDist5', 'RatingDist3', 'Id'], axis=1) for f
    in directory.glob("*.csv")], ignore_index=True)

# book = book.drop(['pagesNumber', 'Count of text reviews'], axis=1)
book.Language = book.Language.fillna('eng')
book.pagesNumber = book.pagesNumber.fillna(random.randint(250, 1500))
book.pagesNumber = book.pagesNumber.astype('int')
book.Publisher = book.Publisher.fillna('Alpina')
book.Description = book.Description.fillna('No description')
book['Genre'] = np.random.choice(
    ['Action and Adventure', 'Classics', 'Comic Book', 'Detective', 'Mystery', 'Fantasy', 'Historical Fiction',
     'Literary Fiction', 'Horror', 'Romance', 'Science Fiction', 'Short Stories', 'Suspense', 'Thrillers',
     'Biographies', 'Autobiographies', 'Cookbooks', 'Essays', 'History', 'Memoir', 'Poetry', 'Self-Help', 'True Crime'],
    len(book))
book.ISBN = book.ISBN.fillna(random.randint(1000, 10000000))
book = book.drop(["ISBN"], axis=1)
book = book.drop(["Count of text reviews"], axis=1)

book.loc[book['PublishYear'] > 2023, 'PublishYear'] = random.randint(1900, 2023)
book.loc[book['PublishMonth'] > 12, 'PublishMonth'] = random.randint(1, 12)
book.loc[book['PublishDay'] > 31, 'PublishDay'] = random.randint(1, 31)
book.loc[(book['Language'] == "en-US") | (book['Language'] == "en-GB") | (book['Language'] == "en-CA") | (
        book['Language'] == "--"), 'Language'] = "eng"

book = book[:530000]
book_copy = book.copy()
book_copy = book_copy.drop(columns=['Authors', 'Language', 'Genre'])
book_copy['Publisher'] = [random.randint(1, 25000) for i in range(530000)]
book_copy.columns = ['book_title',
                     'book_rating',
                     'book_publish_year',
                     'book_publish_month',
                     'book_publish_day',
                     'book_publisher',
                     'book_num_reviews',
                     'book_page_num',
                     'book_desc']

end = time.perf_counter()


book_copy.to_csv("output/book.csv", index=False)
book_copy

,book_title,book_rating,book_publish_year,book_publish_month,book_publish_day,book_publisher,book_num_reviews,book_page_num,book_desc
0,A Passion to Preserve: Gay Men as Keepers of C...,3.75,2005,1,9,5435,6,298,"From large cities to rural communities, gay me..."
1,Culture Keepers-Florida: Oral History of the A...,0.00,2006,5,7,1295,0,140,No description
2,Holiday Favorites: The Best of the Williams-So...,4.55,2004,1,4,22873,2,336,This collector's edition features fabulous ful...
3,"Soups, Salads & Starters: the Best of Williams...",4.70,2004,1,4,850,2,336,No description
4,Breakfasts & Brunches,3.88,1997,1,4,24417,0,108,"America's most respected cookware retailer, th..."
...,...,...,...,...,...,...,...,...,...
529995,Spacetime and Singularities: An Introduction,0.00,1989,3,2,2843,0,192,No description
529996,Beyond Singularity,3.29,2005,5,11,22329,3,288,No description
529997,The Mystery of Capital: Why Capitalism Triumph...,3.99,2003,9,7,17810,229,288,No description
529998,"Who Broke Lincoln's Thumb? (Capital Mysteries,...",4.19,2009,2,9,16761,25,96,No description
529999,Kidnapped at the Capital (Capital Mysteries #2),4.15,2002,9,4,2667,18,80,No description

In [107]:
end - start

3.160239416996774

In [92]:
book

,Name,Authors,Rating,PublishYear,PublishMonth,PublishDay,Publisher,CountsOfReview,Language,pagesNumber,Description,Genre
0,A Passion to Preserve: Gay Men as Keepers of C...,Will Fellows,3.75,2005,1,9,University of Wisconsin Press,6,eng,298,"From large cities to rural communities, gay me...",Historical Fiction
1,Culture Keepers-Florida: Oral History of the A...,Deborah Johnson-Simon,0.00,2006,5,7,Authorhouse,0,eng,140,No description,Action and Adventure
2,Holiday Favorites: The Best of the Williams-So...,Allen Rosenberg,4.55,2004,1,4,Oxmoor House,2,eng,336,This collector's edition features fabulous ful...,Detective
3,"Soups, Salads & Starters: the Best of Williams...",Allan Rosenberg,4.70,2004,1,4,Oxmoor House,2,eng,336,No description,Thrillers
4,Breakfasts & Brunches,Time-Life Books,3.88,1997,1,4,Time Life Medical,0,eng,108,"America's most respected cookware retailer, th...",Cookbooks
...,...,...,...,...,...,...,...,...,...,...,...,...
529995,Spacetime and Singularities: An Introduction,Gregory L. Naber,0.00,1989,3,2,Cambridge University Press,0,eng,192,No description,Romance
529996,Beyond Singularity,Jack Dann,3.29,2005,5,11,Ace,3,eng,288,No description,Essays
529997,The Mystery of Capital: Why Capitalism Triumph...,Hernando de Soto,3.99,2003,9,7,Basic Books,229,eng,288,No description,Classics
529998,"Who Broke Lincoln's Thumb? (Capital Mysteries,...",Ron Roy,4.19,2009,2,9,Random House Books for Young Readers,25,eng,96,No description,Romance
529999,Kidnapped at the Capital (Capital Mysteries #2),Ron Roy,4.15,2002,9,4,Turtleback Books,18,eng,80,No description,Romance

## Данные для таблиц
- book
- book_genre
- book_lang
- book_publisher
- book_author
- people

In [93]:
people = pd.read_csv("output/people.csv")
people

,people_name,people_surname,people_patronymic,people_sex,people_address,people_tel_num,people_pass_num,people_email,people_password,people_role
0,Смирнова,Василиса,Ильинична,False,29898,89033145411,925939686,WCqrwQt@gmail.com,sha256$KtgqliGrYB8CunoE$da1e64258cd1a5c7585bd6...,1
1,Агеева,Софья,Богдановна,False,3371,89381441972,711677008,lFCcowh@gmail.com,sha256$cfOLtho3B2hDhbd3$c29e9373a8a657b2eb7ff4...,1
2,Шаров,Серафим,Матвеевич,True,12840,89261018416,268211781,NMUiAFV@gmail.com,sha256$9fx2xFMpypSp6VKZ$82199d91b9928df343380a...,1
3,Кузьмин,Сергей,Александрович,True,25615,89087820193,827177289,YluEWgP@gmail.com,sha256$DB7H3IVRglvAhOPs$7deff9098db7a4ba9d1f2e...,1
4,Дмитриев,Дмитрий,Матвеевич,True,16987,89061300797,139357065,FTfOamu@gmail.com,sha256$uvcfkAmxlUFMNBsk$5f4cd29e76f01537070c56...,1
...,...,...,...,...,...,...,...,...,...,...
595,Родионов,Михаил,Кириллович,True,21349,89154519656,707633276,YwcfDHk@gmail.com,sha256$hEqIXyb4JYn45AhT$a952d51fbbb442271ae480...,1
596,Иванова,Таисия,Константиновна,False,6154,89084529387,604052901,YwgBXat@gmail.com,sha256$CzV7dbPIzQQWaTBb$862e0c78d847389f346709...,1
597,Захарова,Вероника,Никитична,False,4292,89722432181,859247677,KAEWcPZ@gmail.com,sha256$Z9kks7LMmJ86nymt$55d2e005754da9daeb67f3...,1
598,Алексеева,Софья,Александровна,False,36379,89256447348,983521962,VnKQIuq@gmail.com,sha256$NV2z2rfmOkU7m6sV$0e30cbbda3979267387659...,1
599,Аникина,Серафима,Тимофеевна,False,372,89416769540,475438055,ZTKdTkr@gmail.com,sha256$wx2qcFZiSyEBeNNV$646aa8836d76c6867bab2f...,1

In [94]:
book_author = pd.DataFrame(data=book.Authors.unique(), columns=['author_name'])
author_sex = [random.choice([True, False]) for i in range(book_author.count()[0])]
book_author['author_sex'] = author_sex
book_author = book_author[:220000]
book_author.to_csv("output/book_author.csv", index=False)
book_author

                  author_name  author_sex
0                Will Fellows        True
1       Deborah Johnson-Simon        True
2             Allen Rosenberg       False
3             Allan Rosenberg        True
4             Time-Life Books        True
...                       ...         ...
219995            Moody Adams       False
219996         Sam R. Watkins        True
219997       Bell Irvin Wiley       False
219998       Alexander Hunter       False
219999        Michael  Mcafee       False

[220000 rows x 2 columns]

In [95]:
book_book_author = pd.DataFrame(columns=[['book_book_id', 'book_author_author_id']])
book_book_id = [random.randint(1, 530000) for i in range(530000)]
book_author_author_id = [random.randint(1, 220000) for i in range(530000)]
book_book_author['book_book_id'] = book_book_id
book_book_author['book_author_author_id'] = book_author_author_id
book_book_author.to_csv("output/book_book_author.csv", index=False)
book_book_author

       book_book_id book_author_author_id
0            394874                210216
1            244210                 36549
2            408777                167061
3            299096                175919
4             88178                  6254
...             ...                   ...
529995       304638                 96816
529996       457826                 46727
529997       353669                191412
529998        62582                 70032
529999       444462                117903

[530000 rows x 2 columns]

In [96]:
book_genre = pd.DataFrame(data=book.Genre.unique(), columns=['genre_title'])
book_genre.to_csv("output/book_genre.csv", index=False)
book_genre

             genre_title
0     Historical Fiction
1   Action and Adventure
2              Detective
3              Thrillers
4              Cookbooks
5                 Horror
6                 Essays
7               Classics
8       Literary Fiction
9                 Memoir
10           Biographies
11             Self-Help
12            True Crime
13            Comic Book
14              Suspense
15               History
16       Science Fiction
17       Autobiographies
18                Poetry
19               Romance
20         Short Stories
21               Fantasy
22               Mystery

In [97]:
book_book_genre = pd.DataFrame(columns=[['book_book_id', 'book_genre_genre_id']])
book_book_id = [random.randint(1, 530000) for i in range(530000)]
book_genre_genre_id = [random.randint(1, 23) for i in range(530000)]
book_book_genre['book_book_id'] = book_book_id
book_book_genre['book_genre_genre_id'] = book_genre_genre_id
book_book_genre.to_csv("output/book_book_genre.csv", index=False)
book_book_genre

       book_book_id book_genre_genre_id
0            150710                  23
1            475457                  22
2             13422                   8
3            157262                   3
4            422887                   4
...             ...                 ...
529995       164764                   9
529996       267029                   2
529997        24876                  10
529998       469986                  15
529999       308171                  23

[530000 rows x 2 columns]

In [98]:
book_lang = pd.DataFrame(data=book.Language.unique(), columns=['lang_title'])
book_lang = book_lang[:60]
book_lang.to_csv("output/book_lang.csv", index=False)
book_lang

   lang_title
0         eng
1         ita
2         spa
3         fre
4         eus
5         ger
6         jpn
7         mul
8         per
9         tha
10        ara
11         nl
12        por
13        rus
14        tur
15        zho
16        grc
17        sco
18        urd
19        swe
20        cze
21        gle
22        glg
23        lat
24        frs
25        wak
26        gla
27        rum
28        heb
29        enm
30        hun
31        fin
32        kor
33        guj
34        chp
35        raj
36        msa
37        hin
38        ind
39        pol
40        wel
41        nav
42        nor
43        myn
44        gre
45        elx
46        afr
47        cat
48        srp
49        fan
50        est
51        hye
52        tlh
53        ang
54        nub
55        dan
56        tam
57        scr
58        ypk
59        lao

In [99]:
book_book_lang = pd.DataFrame(columns=[['book_book_id', 'book_lang_lang_id']])
book_book_id = [random.randint(1, 530000) for i in range(530000)]
book_lang_lang_id = [random.randint(1, 60) for i in range(530000)]
book_book_lang['book_book_id'] = book_book_id
book_book_lang['book_lang_lang_id'] = book_lang_lang_id
book_book_lang.to_csv("output/book_book_lang.csv", index=False)
book_book_lang

       book_book_id book_lang_lang_id
0            220650                21
1            384357                42
2            328671                33
3             86237                38
4             17079                 2
...             ...               ...
529995       248463                 1
529996       491115                 8
529997       339564                 6
529998       347334                18
529999       280474                46

[530000 rows x 2 columns]

In [100]:
book_publisher = pd.DataFrame(data=book.Publisher.unique(), columns=['publisher_name'])
publisher_desc = [f"Desc of {book_publisher.iloc[i, 0]}" for i in range(book_publisher.count()[0])]
book_publisher['publisher_desc'] = publisher_desc
book_publisher = book_publisher[:25000]
book_publisher.to_csv("output/book_publisher.csv", index=False)
book_publisher

,publisher_name,publisher_desc
0,University of Wisconsin Press,Desc of University of Wisconsin Press
1,Authorhouse,Desc of Authorhouse
2,Oxmoor House,Desc of Oxmoor House
3,Time Life Medical,Desc of Time Life Medical
4,Pocket Books,Desc of Pocket Books
...,...,...
24995,Archaeopress Archaeology,Desc of Archaeopress Archaeology
24996,University of Arizona Libraries,Desc of University of Arizona Libraries
24997,Printland Publishers US,Desc of Printland Publishers US
24998,"New Holland Publishers, Ltd.","Desc of New Holland Publishers, Ltd."
24999,Martin E. Segal Theatre Center Publications,Desc of Martin E. Segal Theatre Center Publica...

In [102]:
address = pd.read_csv("input/address/open_pubs.csv").drop(["fas_id", "name", "local_authority", "easting", "northing"],
                                                          axis=1)
address.columns = ['address_title', 'address_postcode', 'address_latitude', 'address_longitude']
address = address[:40000]
address.to_csv("output/address.csv", index=False)
address

,address_title,address_postcode,address_latitude,address_longitude
0,"Upper Street, Stratford St Mary, COLCHESTER, E...",CO7 6LW,51.97039,0.979328
1,"Egremont Street, Glemsford, SUDBURY, Suffolk",CO10 7SA,52.094427,0.668408
2,"7 Market Hill, SUDBURY, Suffolk",CO10 2EA,52.038683,0.730226
3,"Lower Street, Stratford St Mary, COLCHESTER, E...",CO7 6JS,51.966211,0.972091
4,"Lion Road, Glemsford, SUDBURY, Suffolk",CO10 7RF,52.102815,0.666893
...,...,...,...,...
39995,"3 Whitegate, Siddal",HX3 9AE,53.712248,-1.852802
39996,"Balkram Edge, Wainstalls",HX2 7TB,53.747669,-1.930529
39997,"Cold Edge Road, Wainstalls",HX2 7UA,53.768341,-1.930146
39998,"263 King Cross Road, Halifax",HX1 3JL,53.71495,-1.881566
39999,"7 Central Buildings, Town Hall Street, Sowerby...",HX6 2QD,53.708352,-1.912217