In [40]:
import pandas as pd
import random
from pathlib import Path
import numpy as np

In [41]:
directory = Path("archive/")
books = pd.concat([pd.read_csv(f).drop(
    ['RatingDist1', 'RatingDist4', 'RatingDistTotal', 'RatingDist2', 'RatingDist5', 'RatingDist3', 'Id'], axis=1) for f in directory.glob("*.csv")], ignore_index=True)

# books = books.drop(['pagesNumber', 'Count of text reviews'], axis=1)
books.Language = books.Language.fillna('eng')
books.pagesNumber = books.pagesNumber.fillna(random.randint(250, 1500))
books.pagesNumber = books.pagesNumber.astype('int')
books.Publisher = books.Publisher.fillna('Alpina')
books['Genre'] = np.random.choice(
    ['Action and Adventure', 'Classics', 'Comic Book', 'Detective', 'Mystery', 'Fantasy', 'Historical Fiction',
     'Literary Fiction', 'Horror', 'Romance', 'Science Fiction', 'Short Stories', 'Suspense', 'Thrillers',
     'Biographies', 'Autobiographies', 'Cookbooks', 'Essays', 'History', 'Memoir', 'Poetry', 'Self-Help', 'True Crime'],
    len(books))

books.loc[books['PublishYear'] > 2023, 'PublishYear'] = random.randint(1900, 2023)
books.loc[books['PublishMonth'] > 12, 'PublishMonth'] = random.randint(1, 12)
books.loc[books['PublishDay'] > 31, 'PublishDay'] = random.randint(1, 31)
books.loc[(books['Language'] == "en-US") | (books['Language'] == "en-GB") | (books['Language'] == "en-CA") | (books['Language'] == "--"), 'Language'] = "eng"

In [42]:
print(books.columns.values)

['Name' 'pagesNumber' 'PublishMonth' 'PublishDay' 'Publisher'
 'CountsOfReview' 'PublishYear' 'Language' 'Authors' 'Rating' 'ISBN'
 'Genre']

In [43]:
books.isnull().sum()

Name                0
pagesNumber         0
PublishMonth        0
PublishDay          0
Publisher           0
CountsOfReview      0
PublishYear         0
Language            0
Authors             0
Rating              0
ISBN              546
Genre               0
dtype: int64

In [44]:
books.nunique()

Name              57510
pagesNumber        1340
PublishMonth         12
PublishDay           12
Publisher          7521
CountsOfReview     2163
PublishYear         105
Language             33
Authors           28633
Rating              267
ISBN              57552
Genre                23
dtype: int64

In [45]:
print(books.Authors.unique())
print("-"*40)
print(books.Publisher.unique())
print("-"*40)
print(books.Language.unique())
print("-"*40)
print(books.Genre.unique())

['J.K. Rowling' 'W. Frederick Zimmerman' 'Douglas Adams' ...
 'Jonathan Weiner' 'Archibald Hamilton Rutledge' "Daniel O'Connor"]
----------------------------------------
['Scholastic Inc.' 'Scholastic Inc' 'Scholastic' ... 'Twelve'
 'Fantastic Audio' 'Gray & Company Publishers']
----------------------------------------
['eng' 'fre' 'spa' 'mul' 'grc' 'enm' 'ger' 'jpn' 'ara' 'nl' 'zho' 'lat'
 'por' 'srp' 'ita' 'rus' 'msa' 'glg' 'wel' 'swe' 'nor' 'kor' 'tur' 'gla'
 'lit' 'per' 'pol' 'gle' 'cat' 'afr' 'ind' 'frs' 'sco']
----------------------------------------
['History' 'Biographies' 'Science Fiction' 'True Crime' 'Cookbooks'
 'Literary Fiction' 'Classics' 'Memoir' 'Short Stories' 'Essays'
 'Detective' 'Romance' 'Thrillers' 'Autobiographies'
 'Action and Adventure' 'Comic Book' 'Suspense' 'Horror' 'Poetry'
 'Fantasy' 'Self-Help' 'Mystery' 'Historical Fiction']

In [46]:
Book_genre = pd.DataFrame(data=books.Genre.unique(), columns=['Genre'])
Book_lang = pd.DataFrame(data=books.Language.unique(), columns=['Language'])
Book_publisher = pd.DataFrame(data=books.Publisher.unique(), columns=['Publisher'])
Book_author = pd.DataFrame(data=books.Authors.unique(), columns=['Authors'])

columns = [[Book_genre, "Genre"], [Book_lang, "Language"], [Book_publisher, "Publisher"], [Book_author, "Authors"]]
for col in columns:
    for index, string in enumerate(col[0].iloc[:, 0]):
        books.loc[books[col[1]] == string, col[1]] = index

In [47]:
books

,Name,pagesNumber,PublishMonth,PublishDay,Publisher,CountsOfReview,PublishYear,Language,Authors,Rating,ISBN,Genre
0,Harry Potter and the Half-Blood Prince (Harry ...,652,3,9,0,28062,2006,0,0,4.57,NaN,0
1,Harry Potter and the Order of the Phoenix (Har...,870,1,9,0,29770,2004,0,0,4.50,0439358078,1
2,Harry Potter and the Sorcerer's Stone (Harry P...,309,1,11,1,75911,2003,0,0,4.47,NaN,2
3,Harry Potter and the Chamber of Secrets (Harry...,352,1,11,2,244,2003,0,0,4.42,0439554896,0
4,Harry Potter and the Prisoner of Azkaban (Harr...,435,1,5,0,37093,2004,0,0,4.57,043965548X,3
...,...,...,...,...,...,...,...,...,...,...,...,...
58287,The Best American Science and Nature Writing 2000,265,3,10,323,7,2000,0,21727,3.99,0618082956,10
58288,The Best American Science and Nature Writing 2002,336,3,10,323,7,2002,0,17385,4.11,0618134786,1
58289,Hunting and Home in the Southern Heartland: Th...,263,1,4,489,0,1992,0,28631,4.30,0872498220,18
58290,The Best American Science Writing 2004,288,3,9,557,5,2004,0,1762,3.86,0060726407,0
58291,The Best American Sex Writing 2004,336,6,12,423,3,2004,0,28632,3.09,1560255986,5

In [ ]:
books.to_csv("archive/result.csv", index=False)