In [11]:
import pandas as pd
import random
from pathlib import Path
import numpy as np

In [13]:
directory = Path("archive/")
books = pd.concat([pd.read_csv(f).drop(
    ['RatingDist1', 'RatingDist4', 'RatingDistTotal', 'RatingDist2', 'RatingDist5', 'RatingDist3', 'Id'], axis=1) for f in directory.glob("*.csv")], ignore_index=True)

books = books.drop(['pagesNumber', 'Count of text reviews'], axis=1)
books.Language = books.Language.fillna('eng')
books.PagesNumber = books.PagesNumber.fillna(random.randint(250, 1500))
books.PagesNumber = books.PagesNumber.astype('int')
books.Description = books.Description.fillna('No Description')
books.Publisher = books.Publisher.fillna('Alpina')
books['Genre'] = np.random.choice(
    ['Action and Adventure', 'Classics', 'Comic Book', 'Detective', 'Mystery', 'Fantasy', 'Historical Fiction',
     'Literary Fiction', 'Horror', 'Romance', 'Science Fiction', 'Short Stories', 'Suspense', 'Thrillers',
     'Biographies', 'Autobiographies', 'Cookbooks', 'Essays', 'History', 'Memoir', 'Poetry', 'Self-Help', 'True Crime'],
    len(books))

books.loc[books['PublishYear'] > 2023, 'PublishYear'] = random.randint(1900, 2023)
books.loc[books['PublishMonth'] > 12, 'PublishMonth'] = random.randint(1, 12)
books.loc[books['PublishDay'] > 31, 'PublishDay'] = random.randint(1, 31)
books.loc[(books['Language'] == "en-US") | (books['Language'] == "en-GB") | (books['Language'] == "en-CA") | (books['Language'] == "--"), 'Language'] = "eng"

# books.to_csv("archive/result.csv", index=False)

In [14]:
print(books.columns.values)

['Name' 'Authors' 'ISBN' 'Rating' 'PublishYear' 'PublishMonth'
 'PublishDay' 'Publisher' 'CountsOfReview' 'Language' 'PagesNumber'
 'Description' 'Genre']

In [15]:
books.isnull().sum()

Name                 0
Authors              0
ISBN              5923
Rating               0
PublishYear          0
PublishMonth         0
PublishDay           0
Publisher            0
CountsOfReview       0
Language             0
PagesNumber          0
Description          0
Genre                0
dtype: int64

In [16]:
books.nunique()

Name              1636235
Authors            675289
ISBN              1844192
Rating                338
PublishYear           182
PublishMonth           12
PublishDay             31
Publisher           79423
CountsOfReview       2832
Language              120
PagesNumber          2741
Description       1083698
Genre                  23
dtype: int64

In [24]:
print(books.Authors.unique())
print("-"*40)
print(books.Publisher.unique())
print("-"*40)
print(books.Language.unique())
print("-"*40)
print(books.Genre.unique())

['Christopher Ailsby' 'Daniel Charles Gerould' 'Saviana Stănescu' ...
 'David N. DeJong' 'Chetan Dave' 'Yasuhisa Nakamura']
----------------------------------------
[0 1 2 ... 'Scholatic' 'Fruitbearer Publishing LLC' 'Channel Four Books']
----------------------------------------
[0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27
 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51
 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75
 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99
 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117
 118 119]
----------------------------------------
[0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22]

In [22]:
Book_genre = pd.DataFrame(data=books.Genre.unique(), columns=['Genre'])
Book_lang = pd.DataFrame(data=books.Language.unique(), columns=['Language'])
Book_publisher = pd.DataFrame(data=books.Publisher.unique(), columns=['Publisher'])
Book_author = pd.DataFrame(data=books.Authors.unique(), columns=['Authors'])

columns = [[Book_publisher, "Publisher"]]
for col in columns:
    for index, string in enumerate(col[0].iloc[:, 0]):
        books.loc[books[col[1]] == string, col[1]] = index

KeyboardInterrupt:

In [23]:
books

,Name,Authors,ISBN,Rating,PublishYear,PublishMonth,PublishDay,Publisher,CountsOfReview,Language,PagesNumber,Description,Genre
0,Barbarossa,Christopher Ailsby,1840138009,3.00,2007,4,1,0,0,0,192,"On 22 June 1941, Adolf Hitler launched Operati...",0
1,Collector's Guide to German World War II: Comb...,Christopher Ailsby,0781802253,0.00,1994,7,1,1,0,0,160,No Description,1
2,Images of Barbarossa,Christopher Ailsby,0711028257,3.50,2001,1,25,2,0,0,256,"On 22 June 1941, Adolf Hitler launched Operati...",0
3,Romania After 2000: Five New Romanian Plays,Daniel Charles Gerould,0595436560,4.00,2007,9,1,3,0,0,226,The first anthology of new Romanian Drama publ...,2
4,Global Foreigners: An Anthology of Plays,Saviana Stănescu,1905422423,4.60,2006,12,7,4,0,0,320,"In Waxing West, Daniella, newly arrived in the...",3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1850305,Irish Folk and Fairy Tales Omnibus Edition,Michael Scott,0751508861,4.19,1989,12,8,774,10,0,446,"Here, collected in one volume, are tales and l...",2
1850306,Robin Hood: The Shaping of the Legend,Jeffrey L. Singman,0313301018,3.00,1998,12,7,617,0,0,446,Among the narrative traditions of the Middle A...,5
1850307,International Business: Competing in the Globa...,Charles W.L. Hill,0073102555,3.73,2005,1,12,1214,8,0,446,No Description,5
1850308,Competing on Value,Mack Hanan,0814450369,3.50,1991,12,4,737,1,0,446,Presents a new approach to selling that emphas...,13
1850309,Fantastic Antone Grows Up: Adolescents and Adu...,Judith Kleinfeld,1889963119,4.00,2000,1,1,5712,4,0,446,<i>Fantastic Antone Grows Up</i> is a field gu...,12